# OLIBLOG CONFIG
# UAAAAAAAAAAAAA

# Site Settings
locale          : "en-US"
title           : "Olgasmus"
title_separator : "-"
subtitle        : "O králících a lidech"
name            : "Your Name"
description     : "An amazing website."
url             : "https://olgacinkova.github.io"
baseurl         : ""
repository      : "https://github.com/olgacinkova/olgacinkova"
teaser          : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo            : # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"
words_per_minute: 120

# sidebar
links:
  - group: "Kontakty"
    links:
    - label: "Email"
      icon: "/assets/graphics/icons/rabbit-email.svg"
      url: "mailto:cinkovaolga@gmail.com"
    - label: "GitHub"
      icon: "/assets/graphics/icons/rabbit-github.svg"
      url: "https://github.com/olgacinkova"
    - label: "Instagram"
      icon: "assets/graphics/icons/rabbit-instagram.svg"
      url: "https://www.instagram.com/kreslimnejenkraliky/"
    - label: "Atom feed"
      icon: "assets/graphics/icons/rabbit-atomfeed.svg"
      url: "/feed.xml"
  - group: "Odkazy"
    links:
    - label: "BlackBlog"
      icon: "assets/graphics/icons/rabbit-blackblog.svg"
      url: "https://blackblog.cz/"
    - label: "Lyricall"
      icon: "assets/graphics/icons/rabbit-lyricall.svg"
      url: "https://lyricall.cz/"
    - label: "Meziklasí"
      icon: "assets/graphics/icons/rabbit-meziklasi.svg"
      url: "https://www.meziklasi.cz/"



# Všechno pod touhle čarou upravuj jen když víš co děláš
#######################################################################################

minimal_mistakes_skin : "olga"

exclude:
  - "vendor"
  - ".bundle"
  - ".jekyll-assets-cache"
  - ".sass-cache"
  - "Gemfile"
  - "LICENSE"
  - "README.md"
  - "makefile"

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Outputting
permalink: /:categories/:title/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Plugins (previously gems:)
plugins:
  - jektex
  - jekyll-tidy

# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: # true
      share: true
      related: true

