{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">Předchozí</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">Předchozí</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">Následující</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">Následující</a>
    {% endif %}
  </nav>
{% endif %}
