{% if page.author_profile or layout.author_profile or page.sidebar %}
	<div class="sidebar sticky">
		<div class="h-card">
			<div class="author__urls-wrapper">
				<ul class="author__urls social-icons">
						{% for link in site.links %}
							{% if link.label and link.url %}
								<li>
									<a href="{{- link.url -}}">
										<img src="{{- link.icon | relative_url -}}" alt="{{- link.label -}}" class="rabbit-icon">
										<span class="label">{{- link.label -}}</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
				</ul>
				<img src="/assets/graphics/rabbits/rabbit-deco-pink.svg" class="rabbit-sidebar">
			</div>
		</div>
	</div>
{% endif %}
